doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(property="description" content=description)
    meta(property="keywords" content=keywords)

    link(rel='icon', href!='<%= BASE_URL %>favicon.ico')
    title #{title}

    meta(property="og:title" content=title)
    meta(property="og:site_name" content=title)
    meta(property="og:type" content="website")
    meta(property="og:url" content=url)
    meta(property="og:image" content!="<%= BASE_URL %>"+image)
    meta(property="og:description" content=description)

    meta(property="twitter:card" content="summary")
    meta(property="twitter:site" content=url)
    meta(property="twitter:title" content=title)
    meta(property="twitter:description" content=description)
    meta(property="twitter:creator" content="@"+twitterCreator)
    meta(property="twitter:image:src" content!="<%= BASE_URL %>"+image)

  body
    noscript
      strong
        | We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.
    #app