<div class="App">
  <header class="App__header">
    {{#unless model.isCartOpen}}
      <div class="App__view-cart-wrapper">
        <button class="App__view-cart" {{action "openCart"}}>Cart</button>
      </div>
    {{/unless}}
    <div class="App__title">
    <h1>{{model.shop.name}}: Ember Example</h1>
    <h2>{{model.shop.description}}</h2>
    </div>
  </header>

  <div class="Product-wrapper">
    {{#each model.products as |product|}}
      {{buy-button product=product.attrs open="openCart"}}
    {{/each}}
  </div>

  <div class="Cart {{if model.isCartOpen "Cart--open"}}">
    {{shopify-cart close="closeCart"}}
  </div>
</div>
