<section class="main">
  <button class="cart-close" {{action "close"}}>
    ×
  </button>
  <h2>Cart</h2>
  <ul class="cart-list">
    {{#each cart.lineItems.edges as |item|}}
      <li>
        <div class="view">
          <label>
            {{item.node.quantity}} -
            {{item.node.title}}
            {{#if item.node.variant.title}}
            : {{item.node.variant.title}}
            {{/if}}
          </label>
          <button class="destroy" {{action "removeItem" item}}></button>
        </div>
      </li>
    {{/each}}
    <li>
      <div class="view">
        <label>
          <strong>Subtotal:</strong>
          $ {{cart.subtotalPrice}}
        </label>
      </div>
    </li>
    <li>
      <div class="view">
        <label>
          <strong>Taxes:</strong>
          $ {{cart.totalTax}}
        </label>
      </div>
    </li>
    <li>
      <div class="view">
        <label>
          <strong>Total:</strong>
          $ {{cart.totalPrice}}
        </label>
      </div>
    </li>
  </ul>
</section>

<footer class="cart-footer">
  <button class="button" disabled={{checkoutDisabled}} {{action "openCheckout"}}>
    Checkout
  </button>
</footer>
