<div class="App">
  <header class="App__header">
    <div class="App__title">
    <h1 class>{{model.shop.name}}: Ember Example</h1>
    <h2 class>{{model.shop.description}}</h2>
    </div>
  </header>

  <div class="Product-wrapper">
    {{#each model.products as |product|}}
      {{buy-button product=product.attrs open="openCart"}}
    {{/each}}
  </div>

  <div class="Cart {{if model.isCartOpen "Cart--open"}}">
    {{shopify-cart close="closeCart"}}
  </div>

  {{#unless model.isCartOpen}}
    <div class="view-cart-wrapper">
      <button class="view-cart" {{action "openCart"}}>Cart</button>
    </div>
  {{/unless}}
</div>
