doctype html
html(lang='en', data-framework='javascript')
  head
    meta(charset='utf-8')
    title NodeGraphqlClient
    link(rel='stylesheet', href='app.css')
  body
    .container
      section.products
        header.header
          h1=`${shopName}: Node Example`
        ul.product-list
          each product in products
            div
              li.product
                img(src=product.images[0].src)
                .product-info
                  h2=product.title
                  form(method='post' action='/line_item' + product.id.substring(product.id.lastIndexOf('/')))
                    each option in product.options
                      label=option.name
                      select(name=option.name)
                        each value in option.values
                          option(value=value.valueOf())
                            =value
                    label Quantity
                    input(min='1', type='number', name='quantity', value='1')
                    .buy-button-wrapper
                      button.buy-button.button#add-to-cart-button(type='submit')
                        | Add to cart
                    .product-pricing
      section.view-cart-wrapper
        button.view-cart#view-cart-button Cart
      section.cart#cart(class={'cart--open': isCartOpen})
        section.main
          button.cart-close#close-cart-button ×
          h2 Cart
          ul.cart-list
            each item in cart.lineItems
              li
                .view
                  label=`${item.quantity} - ${item.title}: ${item.variant.title}`
                  form(method='post' action='/line_item' + item.variant.id.substring(item.variant.id.lastIndexOf('/')))
                    input(type="hidden" name="method" value="delete")
                    button.destroy(type='submit')
        footer.cart-footer
            button.button#checkout-button(type='submit', disabled=!cart.lineItems.length) Checkout
    script.
      function isCartOpen() {
        return document.getElementById('cart').className.match(/(?:^|\s)cart--open(?!\S)/);
      }
      function closeCart() {
        document.getElementById('cart').className = document.getElementById('cart').className.replace(/(?:^|\s)cart--open(?!\S)/g, '' )
      }

      function openCart() {
        if (!isCartOpen()) {
          document.getElementById('cart').className += ' cart--open';
        }
      }

      document.getElementById('checkout-button').onclick = function () {
        window.open('#{cart.webUrl}');
      };

      document.getElementById('add-to-cart-button').onclick = function () {
        openCart();
      }

      document.getElementById('view-cart-button').onclick = function () {
        openCart();
      }

      document.getElementById('close-cart-button').onclick = function () {
        closeCart();
      }

